(
    accent: Some("#7C8CA6FF"),
    active_hint: 3,
    alpha_map: (
    extremely_low: 0.9,
    extremely_low_2: 0.87692,
    very_low: 0.85385,
    very_low_2: 0.83076,
    low: 0.80769,
    low_2: 0.78461,
    medium: 0.76154,
    medium_2: 0.73846,
    high: 0.71538,
    high_2: 0.69231,
    very_high: 0.66023,
    very_high_2: 0.64615,
    extremely_high: 0.62308,
    extremely_high_2: 0.6,
),
    bg_color: Some("#121419FF"),
    corner_radii: (
    radius_0: (0.0, 0.0, 0.0, 0.0),
    radius_xs: (0.0, 0.0, 0.0, 0.0),
    radius_s: (0.0, 0.0, 0.0, 0.0),
    radius_m: (0.0, 0.0, 0.0, 0.0),
    radius_l: (0.0, 0.0, 0.0, 0.0),
    radius_xl: (0.0, 0.0, 0.0, 0.0),
),
    destructive: Some("#BD7373FF"),
    frosted: Medium,
    frosted_applets: false,
    frosted_panel: false,
    frosted_system_interface: false,
    frosted_windows: false,
    gaps: (0, 12),
    neutral_tint: Some("#3B404CFF"),
    palette: Dark((
    name: "caelestia-noir",
    bright_red: "#C97F7FFF",
    bright_green: "#8FBBA0FF",
    bright_orange: "#C99B78FF",
    gray_1: "#1A1D24FF",
    gray_2: "#242830FF",
    neutral_0: "#0A0B0FFF",
    neutral_1: "#0E1014FF",
    neutral_2: "#121419FF",
    neutral_3: "#1A1D24FF",
    neutral_4: "#242830FF",
    neutral_5: "#2E333DFF",
    neutral_6: "#3B404CFF",
    neutral_7: "#4B515FFF",
    neutral_8: "#5D6473FF",
    neutral_9: "#7A8191FF",
    neutral_10: "#C6CAD3FF",
    accent_blue: "#7C8CA6FF",
    accent_indigo: "#8890B0FF",
    accent_purple: "#8A87A6FF",
    accent_pink: "#A6879AFF",
    accent_red: "#B37272FF",
    accent_orange: "#B58B6EFF",
    accent_yellow: "#B7A97CFF",
    accent_green: "#7FA08CFF",
    accent_warm_grey: "#A69A93FF",
    ext_warm_grey: "#B0A49DFF",
    ext_orange: "#B58B6EFF",
    ext_yellow: "#B7A97CFF",
    ext_blue: "#7C97A6FF",
    ext_purple: "#8A87A6FF",
    ext_pink: "#A6879AFF",
    ext_indigo: "#8890B0FF",
)),
    primary_container_bg: Some("#0E1014FF"),
    secondary_container_bg: None,
    spacing: (
    space_none: 0,
    space_xxxs: 4,
    space_xxs: 8,
    space_xs: 12,
    space_s: 16,
    space_m: 24,
    space_l: 32,
    space_xl: 48,
    space_xxl: 64,
    space_xxxl: 128,
),
    success: Some("#7FA08CFF"),
    text_tint: Some("#C6CAD3FF"),
    warning: Some("#B7A97CFF"),
    window_hint: None,
)
